.about-company {
  padding: 60px 0 98px;

  @include vp-1023 {
    padding: 0 0 59px;
  }

  @include vp-767 {
    padding: 0 0 60px;
  }

  &__container {
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 4.1%;

    @include vp-1023 {
      column-gap: 0;
    }

    @include vp-767 {
      display: block;
    }
  }

  &__image {
    img {
      width: 150px;
      height: 320px;
    }

    @include vp-1023 {
      margin-left: -4px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__wrapper {
    padding-left: 50px;

    @include vp-1023 {
      margin-top: -5px;
      padding-left: 25px;
    }

    @include vp-767 {
      padding: 0;
    }

    p:last-of-type {
      @include vp-767 {
        margin-bottom: 13px;
      }
    }
  }

  &__hidden-span {
    @include vp-767 {
      display: none;
    }
  }

  &__wrapper.is-active button {
    span:first-of-type {
      display: none;
    }

    span:last-of-type {
      display: block;
    }
  }

  &__toggle {
    margin: 20px 0;
    width: 180px;
    min-height: 45px;
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: $color-deep-sky-blue;
    border: 1px solid $color-deep-sky-blue;
    border-radius: 3px;
    transition: background-color $trans-default;

    &.no-js {
      display: none;
    }

    @include vp-1023 {
      margin: -4px 0 20px;
    }

    @include vp-767 {
      margin: 0 0 20px;
      min-height: 35px;
      width: 160px;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-alice-blue-mod;
        background-color: $color-deep-sky-blue;
      }
    }

    span:first-of-type {
      display: block;
    }

    span:last-of-type {
      display: none;
    }
  }

  h2 {
    margin: 0 0 11px;
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;

    @include vp-767 {
      font-size: 28px;
      line-height: 39px;
    }
  }

  p {
    margin: 0 0 20px;
    line-height: 22px;

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__hidden-text {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}
