.btn {
  display: inline-flex;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;
  background-color: $color-transparent;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
