.btn {
  display: inline-flex;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;
  background-color: $color-transparent;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
