.communications {
  width: 480px;

  @include vp-1023 {
    align-self: flex-start;
    width: auto;
    margin-right: 18px;
  }

  @include vp-767 {
    margin: -2px 15px 0 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-1023 {
      justify-content: flex-end;
    }
  }

  &__item {
    width: 225px;
    min-height: 40px;
    margin: 0 8px 10px 0;

    @include vp-1439 {
      width: 212px;
    }

    @include vp-1023 {
      width: 40px;
      margin: 0 20px 0 0;
    }

    @include vp-767 {
      width: 30px;
      min-height: 30px;
      margin: 0 30px 0 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  a {
    position: relative;

    align-items: center;
    height: 100%;
    margin: 0 0 0 5px;
    padding-left: 35px;

    line-height: 18px;

    transition: color $trans-default;

    @include vp-1023 {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;

      font-size: 0;
      line-height: 0;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: rgba($color-alice-blue-mod, 0.7);

        .communications__icon {
          @include vp-1023 {
            fill: $color-alice-blue-mod;
          }
        }
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0;

    width: 20px;
    height: 20px;

    transform: translateY(-50%);

    transition: fill $trans-default;

    fill: $color-deep-sky-blue;

    @include vp-1023 {
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}
