.footer {
  padding: 50px 0 45px;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding: 50px 0 53px;
  }

  @include vp-767 {
    padding: 35px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include vp-1023 {
      flex-direction: column;
    }
  }

  &__top-wrapper {
    @include vp-1023 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    @include vp-767 {
      margin-bottom: 22px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__bottom-wrapper {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include vp-1023 {
      width: 100%;
    }

    @include vp-767 {
      position: relative;
      flex-direction: column;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: -25px;
        width: calc(100% + 50px);
        height: 1px;
        background-color: rgba($color-alice-blue, 0.7);
      }
    }
  }

  &__block {
    @include vp-1023 {
      width: 47.8%;
    }

    @include vp-767 {
      width: 100%;
      padding: 10px 0;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: -25px;
        width: calc(100% + 50px);
        height: 1px;
        background-color: rgba($color-alice-blue, 0.7);
      }
    }

    &.is-active button::after {
      @include vp-767 {
        transform: rotate(0deg);
      }
    }
  }

  &__logo {
    margin-bottom: 20px;

    @include vp-767 {
      margin: 0 0 3px -5px;
    }

    img:first-of-type {
      margin-right: 15px;
    }
  }

  h2,
  button {
    margin: 7px 0 22px;
    color: rgba($color-default-white, 0.7);
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @include vp-1023 {
      margin: 10px 0 22px;
    }

    @include vp-767 {
      padding: 0;
      margin: 0;
    }
  }

  h2 {
    @include vp-767 {
      display: none;
    }
  }

  button {
    display: none;

    @include vp-767 {
      padding: 12px 40px 12px 0;
      position: relative;
      display: flex;
      width: 100%;

      &::after,
      &::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 1px;
        top: 50%;
        right: 1px;
        transform: translateY(-50%);
        background-color: $color-alice-blue;
      }

      &::after {
        transform: rotate(90deg);
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  a {
    color: rgba($color-default-white, 0.7);
    line-height: 22px;

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__nav {
    margin-left: 9px;
    width: 55.04%;

    @include vp-1023 {
      margin: 0;
      padding-right: 23px;
    }

    ul {
      width: 100%;
      justify-content: space-between;

      @include vp-1023 {
        flex-direction: column;
      }

      @include vp-767 {
        padding-top: 3px;
      }
    }

    li {
      width: 46.8%;
      display: flex;
      flex-direction: column;

      @include vp-1023 {
        width: 90%;
      }
    }

    a {
      margin: 0 18px 7px 0;
      width: fit-content;

      @include vp-1023 {
        margin-bottom: 8px;
      }
    }
  }

  &__contacts {
    width: 40.4%;

    ul {
      flex-direction: column;

      @include vp-767 {
        padding-top: 3px;
        flex-direction: row;
      }
    }

    li {
      margin-bottom: 6px;
    }

    li:first-of-type {
      @include vp-767 {
        margin-bottom: 6px;
      }
    }
  }
}
